html {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support {
    width: 20px;
    height: 100px;
    background-color: black;
}

.traffic-light {
    width: 200px;
    height: 450px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.traffic-light .red {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
}

.traffic-light .yellow {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 100%;
}

.traffic-light .green {
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 100%;
    margin-bottom: 20px;
}

.selected {
    border: 5px rgb(255, 255, 187) solid;
    box-shadow: 1px 1px 50px 20px rgb(255, 255, 187);
}